*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: black;
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.nav-link:hover{
    color: black;   
}

.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    font-family: 'Rubik', sans-serif;
    border: 2px solid rgb(248, 26, 92);
}

.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

.main{
    background: url(./img/patrick-fore-hoxqcGUheeo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
}

h1{
    font-weight: 700;
}

.btn1:hover{
    background-color: rgb(180, 15, 65);
    transition: 0.5s;
}

.apple{
    background: url(./img/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}

.apple h1{
    font-family: 'Lobster', cursive;
}

.news{
    background-color: black;
    color: white;
}

.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}

.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}

.news::placeholder{
    color: white;
}

.news p{
    margin: 0;
}

 span{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}